/*setting page margin and padding*/
*{
	padding: 0;
	margin: 0;
}
/*utility class*/
.container{
	padding-left: 1em;
	padding-right: 1em;
}
.section-separator{
	padding-top: 5em;
}
header nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
	box-shadow: .3px 0px 5px gray;
}
header nav > p{
	font-weight: bolder;
	font-size: 2.5em;
}
header nav > p > a{
	text-decoration: none;
	color: #1e3d60;
}
header nav ul{
	display: flex;
	list-style-type: none;
}
header nav ul li{
	padding: 0 2em;
}

header nav ul li a{
	text-decoration: none;
	text-transform: capitalize;
	color: #1e3d60;
	font-weight: bolder;
	font-size: 18px;
}
header nav ul li a:hover{
	color: orange;
}
.hero-section{
	display: flex;
}

.hero-section h1{
	font-size:3em;
	color: blue;
/*	font-family: ;*/
}
.hero-section > div:first-child{
	padding-right: 5em;
}
.hero-section .hero-image{
/*	width: 100%;*/
	width: 90%;
	border-radius: 30px;
}
.hero-section > div:first-child > p{
	color: #1e3d60; /* get the exact color */
	padding: 2em 0;
	font-size: 1.5em;
/*	font-family: ;*/ /* get the exact font family */
}
.explore-course-btn, .learn-more-btn{
	text-transform: uppercase;
	padding: 1.5em 3em;
	border-radius: 35px;
	text-decoration: none;
	font-weight: bolder;
}
.explore-course-btn{
	background-color: blue;
	color: white;
	display: inline-block;
	transition: 1s;
}
.learn-more-btn{
	background-color: beige;
	color: black;
}
.explore-course-btn:hover{
	transform: scale(.91);
}

@media screen and (max-width:1225px){
	.hero-section{
		text-align: center;
	}
	.btn-container{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.btn-container a{
		margin-bottom: 1em;
	}
}

@media screen and (max-width:760px){
	header nav{
		display: none;
	}
	.hero-section{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.hero-section > div:first-child{
		padding-right: 0em;
	}
	.btn-container{
		justify-content: center;
		align-items: center;
	}
	.explore-course-btn, .learn-more-btn{
		padding: 1.5em 2em;
		width: 50%;
	}
}